# server
PORT=4000
CLIENT_ORIGIN=http://localhost:5173
JWT_SECRET=replace-me
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/vtt

# client
VITE_API_URL=http://localhost:4000
VITE_SOCKET_URL=http://localhost:4000
